node_modules/
.github/
config/
logs/
config.yaml
config.yaml.example
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
*.md
example.json
docker-compose.yaml
eslint.config.mjs
.vscode/
.idea/
*.iml
.prettierrc