plex_server_url: ""
plex_token: "" # User must fill this
owner_username: "" # User must fill this with their Plex username
check_interval: 10
dry_run: true

# audio_selector: An ordered list of rules for selecting the best audio stream.
# Rules are processed from top to bottom. The first rule that matches an audio stream
# will determine the selected stream.
#
# Each rule can contain:
#   - codec (string): The audio codec (e.g., "ac3", "aac").
#   - channels (integer): The minimum number of channels required (e.g., 6 for 5.1, 2 for stereo).
#   - language (string): The language of the audio stream. Can be "original" to match the
#     media's default audio language, or a specific language code (e.g., "eng", "jpn").
#   - keywords_include (list of strings, optional): If provided, the stream's extendedDisplayTitle
#     must contain at least one of these keywords to be considered a match for this rule. Example: ["DTS-HD"]
#   - keywords_exclude (list of strings, optional): If provided, the stream's extendedDisplayTitle
#     must NOT contain any of these keywords to be considered a match for this rule. Example: ["Commentary"]
#     Exclusion takes precedence within a rule.
audio_selector:
  - codec: "ac3"
    channels: 6
    language: "original"
    keywords_include: [] # 
    keywords_exclude: ["Commentary", "commentary"]
  - codec: "ac3"
    channels: 2
    language: "original"
    keywords_include: []
    keywords_exclude: ["Commentary", "commentary"]
  - codec: "aac"
    channels: 6
    language: "original"
    keywords_include: []
    keywords_exclude: ["Commentary", "commentary"]
  - codec: "aac"
    channels: 2
    language: "original"
    keywords_include: []
    keywords_exclude: ["Commentary", "commentary"]
